OLLAMA_URL=http://localhost:11434
# .env - Add this line to force a specific model
OLLAMA_MODEL=phi

USE_CLOUD_API=False

DEBUG=True

# Resend Email Configuration
RESEND_API_KEY=
FROM_EMAIL=
ENABLE_EMAIL_NOTIFICATIONS=True